{% extends 'base.html' %}
{% block title %} 曾达博客 - 首页 {% endblock %}
{% block content %}
    <h1>欢迎访问曾达博客</h1>
    
    <a href="{{ url_for('create') }}" class="btn btn-primary mb-3">新建文章</a>
    
    {% for post in posts %}
    <div class="post">
        <h2 class="text-primary">{{ post['title'] }}</h2>
        <p>{{ post['content'] }}</p>
        <span style="background-color: #28a745; color: white; padding: 0.25em 0.4em; border-radius: 0.25rem; font-size: 0.875em;">发布时间: {{ post['created'] }}</span>
    </div>
    {% endfor %}
{% endblock %}
